@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .drawer-backdrop {
    @apply bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0;
  }
 
  .container_header {
    @apply bg-primary text-right sticky top-0 z-50;
  }

  .container_header_desktop {
    @apply container py-3;
  }

  .container_bg {
    @apply mx-3;
  }

  .container_sub_header_bg {
    @apply font-ubuntu;
  }

  .container_navbar {
    @apply col-span-1 font-ubuntu hidden;
  }

  .historicos_consulta,
  .container_conteudo_historico_consulta_titulo_pagina_consultas, .container_conteudo_perfil_estrutura {
    @apply px-4;
  }

  .container_conteudo_consulta_hoje,
  .container_conteudo_historico_consulta {
    @apply py-6 px-4;
  }

  .container_conteudo_historico_consulta_pagina_consultas {
    @apply pb-6;
  }

  .container_conteudo_consulta_hoje_rodape_conteudo_link {
    @apply ms-3.5;
  }

  .container_conteudo_consulta_hoje_rodape_conteudo_link_botao {
    @apply bg-tertiary text-primary ring-2 ring-primary rounded-full px-4 py-2 font-medium text-center flex items-center hover:bg-primary hover:text-tertiary hover:ring-2 transition duration-150 ease-in-out;
  }

  .card_bg {
    @apply bg-cards border border-border-blue rounded-xl;
  }

  .insideCard {
    @apply py-6 px-4;
  }

  .linkMenuMobile {
    @apply p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-tertiary;
  }

  .textMenuMobile {
    @apply text-[15px] ml-4 text-primary;
  }

  .linkSidebar {
    @apply flex items-center py-3 rounded-lg hover:bg-tertiary px-3;
  }

  .container_sub_header {
    @apply flex justify-center;
  }

  .container_sub_header_saudacao {
    @apply text-neutral-700 text-2xl py-5;
  }

  .container_conteudo_consulta_hoje_titulo {
    @apply pb-5;
  }

  .container_conteudo_consulta_hoje_horario {
    @apply bg-tertiary m-1 p-3 rounded font-inter text-primary font-bold;
  }

  .container_conteudo_consulta_hoje_body_rodape {
    @apply flex flex-col h-full justify-around;
  }

  .container_conteudo_consulta_hoje_corpo {
    @apply pb-8;
  }

  .container_conteudo_consulta_hoje_corpo_titulo {
    @apply text-xl font-bold text-primary;
  }

  .container_conteudo_consulta_hoje_corpo_subtitulo {
    @apply text-lg text-neutral-700 mb-4;
  }

  .container_conteudo_consulta_hoje_corpo_texto {
    @apply text-neutral-500 xl:w-11/12;
  }

  .container_conteudo_consulta_hoje_rodape_titulo {
    @apply text-neutral-700 font-ubuntu mb-1;
  }

  .container_conteudo_consulta_hoje_rodape_texto {
    @apply text-sm text-neutral-500;
  }

  .container_conteudo_consulta_hoje_rodape {
    @apply pt-3
  }

  .container_conteudo_historico_consulta_titulo_pagina_consultas  {
    @apply bg-tertiary pt-6 pb-4 sticky top-0;
  }

  .container_conteudo_proxima_consulta {
    @apply pt-6 px-4;
  }

  .container_conteudo_proxima_consulta_profissional {
    @apply py-5;
  }

  .container_conteudo_proxima_consulta_grupo_avatar,
  .container_conteudo_historico_consulta_profissional_avatar {
    @apply me-3;
  }

  .container_conteudo_proxima_consulta_grupo_texto_titulo {
    @apply text-neutral-600 mb-1 text-lg;
  }

  .container_conteudo_consulta_hoje_titulo,
  .container_conteudo_consulta_hoje_rodape,
  .container_header_desktop,
  .container_header_interacao,
  .container_conteudo_proxima_consulta_profissional,
  .status_consulta,
  .header_sidebar
  {
    @apply flex justify-between items-center;
  }

  .consultaTitulo {
    @apply font-ubuntu font-medium text-2xl text-neutral-700 mb-5;
  }

  .consultaTitulo.individual {
    @apply text-primary;
  }

  .container_header_marcar_consulta_botao_bg {
    @apply fixed bottom-[30px] right-[12px] inline-flex justify-center items-center;
  }

  .container_header_marcar_consulta_botao {
    @apply bg-primary rounded-full inline-flex text-neutral-100 py-3.5 px-5 hover:bg-primary/90 transition duration-150 ease-in-out;
  }
  .perfil_botao {
    @apply rounded-lg inline-flex text-neutral-100 py-3.5 px-5 hover:bg-primary/90 transition duration-150 ease-in-out;
  }

  .container_navbar_conteudo {
    @apply bg-gray-50 border border-solid border-border-blue p-5 w-11/12 rounded-2xl;
  }

  .container_conteudo {
    @apply mb-8 font-inter;
  }

  .container_conteudo_historico_consulta_bg_pagina_consultas, .container_conteudo_perfil_bg {
    @apply h-[700px] overflow-auto clear-both;
  }

  .sidebar {
    @apply fixed top-0 bottom-0 right-[-300px] duration-700
    p-2 w-[300px] overflow-y-auto text-center bg-gray-50 shadow h-screen;
  }

  .horarioConsulta {
    @apply text-primary rounded-full bg-tertiary px-4 py-1 text-sm font-bold;
  }

  .container_conteudo_proxima_consulta_bg {
    @apply my-8;
  }

  .container_conteudo_historico_consulta_profissional_bg {
    @apply flex flex-wrap items-center min-[450px]:flex-nowrap;
  }

  .dataConsulta {
    @apply flex text-neutral-500 text-sm flex-wrap;
  }

  .dot {
    @apply before:content-['\007C'] before:mx-1 after:content-['\007C'] after:mx-1 before:text-primary after:text-primary;
  }

  .botaoReagendar {
    @apply text-orange-800 bg-orange-100 rounded-full px-4 py-2 font-bold block w-full text-center hover:bg-orange-300/60 transition duration-150 ease-in-out;
  }

  .botaoCancelar {
    @apply text-red-800 bg-red-100 rounded-full px-4 py-2 font-bold block w-full text-center hover:bg-red-300/60 transition duration-150 ease-in-out;
  }

  .container_conteudo_consulta_hoje_bg {
    @apply card_bg mt-0 border-primary ;
  }

  .container_conteudo_historico_consulta_rodape,
  .container_conteudo_proxima_consulta_rodape {
    @apply bg-tertiary rounded-b-xl px-3 py-4;
  }

  .rodape {
    @apply text-primary font-ubuntu font-bold;
  }

  .container_conteudo_proxima_consulta_profissional_avatar_e_horario,
  .container_conteudo_historico_consulta_profissional,
  .container_header_mobile_avatar,
  .container_navbar_conteudo_avatar {
    @apply flex items-center;
  }

  .container_conteudo_historico_consulta_profissional_bg {
    @apply py-5;
  }

  .container_conteudo_historico_consulta_profissional {
    @apply w-full;
  }

  .container_conteudo_historico_consulta_profissional_botao {
    @apply flex justify-end w-full mt-6 min-[450px]:w-auto min-[450px]:mt-0;
  }

  .dataConsulta_status_badge {
    @apply font-medium rounded px-2 py-1 text-sm;
  }

  .divisor {
    @apply divide-y divide-gray-200
  }
  .container_conteudo_perfil_estrutura {
    @apply pt-6 pb-4 sticky top-0;
  }
  .foto-botoes{
    @apply row-span-1 flex justify-center items-start col-span-3;
  }
  .foto-legenda{
    @apply row-span-1 flex justify-center items-start col-span-3;
  }

  .mtquatro{
    @apply mt-14;
  }
  .mostrar-form{
    @apply hidden;
  }
  .conteudo-direito{
    @apply bg-white rounded shadow-lg py-32 px-3 w-full mx-auto flex flex-col justify-center items-center;
  }
  .conteudo-direito-senha{
    @apply bg-white rounded shadow-lg py-32 px-3 w-full mx-auto flex flex-col justify-center items-center;
  }
 
    #fade, #fade-cadastro{
      @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-60 z-10;
    }
    .modal-estrutura, .modal-cadastro{
      @apply relative bg-white rounded-2xl shadow dark:bg-gray-700 w-full mx-auto p-10;
    }
    #fade, #fade-cadastro, .modal, .modal-cadastro{
      @apply transition-opacity duration-100 opacity-100 pointer-events-auto;
    }
  .label-padrao-perfil{
    @apply absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1;
  }
  .input-padrao-perfil{
    @apply block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500;
  }
  .disponibilidade-padrao-select{
    @apply block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .disponibilidade-hr{
    @apply w-64 h-px my-8 bg-gray-700 border-0 dark:bg-gray-700;
  }
  .label-padrao-login{
    @apply relative block rounded-md border border-gray-200 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600;
  }
  .login-input{
    @apply border-none bg-transparent placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0;
  }

  @screen sm {
    .foto-botoes{
      @apply row-span-1 col-span-2 text-left flex justify-start items-end;
    }
    .foto-legenda{
      @apply row-span-1 col-span-2 text-left flex justify-start items-start;
    }
    .mostrar-form{
      @apply hidden;
    }
  }
  @screen md {
    .mostrar-form{
      @apply block;
    }
    .conteudo-direito{
      @apply  py-4 px-9  w-1/2;
    }
  }

  @screen lg {
    .container_header {
      @apply static top-auto;
    }

    .container_header_marcar_consulta_botao_bg {
      @apply static bottom-auto right-auto bg-inherit;
    }

    .container_sub_header_bg {
      @apply grid grid-cols-6 py-5;
    }

    .container_sub_header {
      @apply col-span-4 col-start-3 justify-between items-center;
    }

    .container_sub_header_saudacao {
      @apply py-0 text-3xl;
    }

    .container_principal {
      @apply grid grid-cols-6;
    }

    .container_navbar {
      @apply block col-span-2;
    }

    .container_conteudo {
      @apply col-span-4 col-start-3;
    }

    .container_conteudo {
      @apply mb-4;
    }
    .foto-botoes{
      @apply col-span-3;
    }
  }

  @screen xl {
    .container_conteudo_proxima_consulta_bg {
      @apply my-0
    }

    .container_conteudo {
      @apply grid grid-cols-4 gap-6;
    }

    .container_conteudo_consulta_hoje {
      @apply h-5/6;
    }

    .container_conteudo_proxima_consulta_bg,
    .container_conteudo_consulta_hoje_bg {
      @apply col-span-2;
    }

    .container_conteudo_historico_consulta_bg,
    .container_conteudo_historico_consulta_bg_pagina_consultas, .container_conteudo_perfil_bg {
      @apply col-span-4;
    }

    .container_conteudo_consulta_hoje_rodape_texto {
      @apply w-10/12;
    }
  }
}